<?xml version="1.0"?>
<model>
  <name>KR Catenary Span 24m</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Railway World</name></author>
  <description>Short chord catenary span for curved alignment, 5.2 m contact height and 0.96 m system height.</description>
</model>
